body{
  
}
.main-wrap{
  max-width: 1200px;
  margin: 50px auto;
}
.main-head{
  text-align: center;
  font-family: sans-serif;
  color: #333333;
}
.banner{
  margin-top: 50px;
  background: #336EB4;
  color: #ffffff;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  place-content: center;
}
.logo{
  border-right: 1px solid rgba(0,0,0,.1);
}
.logo img{
  height: 100px;
}
.desc{
  padding-left: 50px;
  display: flex;
  align-items: center;
  font-size: 26px;
}